<h1>Tickets</h1>

<div class="buscador">
    <form [formGroup]="ticketForm" (ngSubmit)="filtrar()">
        <div class="input-group">
            <label for="estatus" class="form-label">Filtro:</label>
            <select class="form-select" formControlName="estatus" id="estatus">
                <option value="">Selecciona una opción</option>
                <option value="PENDIENTE">PENDIENTES</option>
                <option value="PAGADO">PAGADOS</option>
            </select>
            <button type="submit" class="btn btn-primary">
                <i class="bi bi-search"></i> Filtrar
            </button>
        </div>
    </form>

    <!-- Botón "Borrar filtro" -->
    <div class="input-group">
        <button class="btn btn-danger" (click)="borrarFiltro()" *ngIf="filtroActivo">
            Borrar filtro
        </button>
    </div>
</div>

<div class="table-container">

    <div *ngFor="let ticket of tickets" class="ticket-card">

        <!-- Barra lateral según estatus -->
        <div class="status-bar" [ngClass]="ticket.estatus?.toLowerCase()"></div>

        <div class="ticket-card-content">

            <!-- Header -->
            <div class="ticket-card-header">
                <h5>Folio: {{ ticket.folio }} (#{{ ticket.idTicket }})</h5>
                <span class="status-badge" [ngClass]="ticket.estatus?.toLowerCase()">{{ ticket.estatus }}</span>
            </div>

            <!-- Body -->
            <div class="ticket-card-body">
                <div class="ticket-info">
                    <div>Fecha creación: {{ ticket.fechaCreacion | date:'medium' }}</div>
                    <div>Fecha pago: {{ ticket.fechaPago | date:'medium' }}</div>
                    <div>Id Usuario: {{ ticket.usuarioDTO?.idUsuario }}</div>
                </div>

                <!-- Total destacado en la esquina inferior derecha -->
                <div class="ticket-total">
                    Total: {{ ticket.total | currency }}
                </div>
            </div>

            <!-- Footer botones -->
            <div class="ticket-card-footer">
                <button class="btn btn-warning" title="Ver ticket" (click)="verDetalle(ticket.idTicket!)">
                    <i class="bi bi-ticket-detailed"></i>
                </button>

                <button *ngIf="authService.isAdmin()" class="btn btn-danger" title="Eliminar ticket"
                    (click)="eliminarTicket(ticket.idTicket!)">
                    <i class="bi bi-trash3"></i>
                </button>

                <button class="btn btn-success" title="Ver pagos" (click)="verPagos(ticket.idTicket!)">
                    <i class="bi bi-cash-stack"></i>
                </button>
            </div>

        </div>
    </div>
</div>

<!-- Modal Detalle -->
<div class="modal fade" id="detalleTicketModal" tabindex="-1" aria-labelledby="detalleTicketModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle del Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <app-detalle-ticket [idTicket]="ticketSeleccionadoId"></app-detalle-ticket>
            </div>
        </div>
    </div>
</div>

<!-- Modal Pagos -->
<div class="modal fade" id="pagosTicketModal" tabindex="-1" aria-labelledby="detalleTpagoicketModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pagos del Ticket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                <app-pagos [idTicket]="ticketSeleccionadoId" (ticketLiquidado)="cargarTickets()"></app-pagos>
            </div>
        </div>
    </div>
</div>