<div class="layout"  *ngIf="!isLogin()">

    <!-- SIDEBAR -->
    <div class="sidebar" [class.collapsed]="isCollapsed">

        <!-- TOGGLE -->
        <div class="toggle-btn" (click)="toggleSidebar()">
            <i class="bi bi-list"></i>
        </div>

        <!-- MENU -->
        <ul class="menu">

            <li>
                <a [routerLink]="['/productos']">
                    <div class="icon">
                        <i class="bi bi-house"></i>
                    </div>
                    <span class="text">Home</span>
                </a>
            </li>

            <li>
                <a [routerLink]="['/tickets']">
                    <div class="icon">
                        <i class="bi bi-ticket"></i>
                    </div>
                    <span class="text">Tickets</span>
                </a>
            </li>
        </ul>

        <!-- LOGOUT -->
        <div class="logout">
            <a (click)="logout()">
                <div class="icon">
                    <i class="bi bi-box-arrow-right"></i>
                </div>
                <span class="text">Cerrar sesión</span>
            </a>
        </div>

    </div>

    <!-- CONTENT -->
    <div class="content" [class.expanded]="isCollapsed">
        <router-outlet></router-outlet>
    </div>

</div>

<!-- SI ES LOGIN -->
<div *ngIf="isLogin()">
    <router-outlet></router-outlet>
</div>